@model IEnumerable<DogDesk.Models.Pet>

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <div>
            <h1>Dog Desk</h1>
            <div class="row">
                <div class="col col-md-5">
                    <h5>Incoming Pets</h5>
                    @if (Model.Any(x => x.ServicePets != null && x.ServicePets.Count > 0 && x.ServicePets.Any(y => y.StartDate.Date == DateTime.Now.Date)))
                    {
                        <div class="card-deck">
                            @foreach (var pet in Model)
                            {
                                @foreach (var item in pet.ServicePets.Where(x => x.CheckinTime == default(DateTime) && x.StartDate.Date == DateTime.Now.Date))
                                {
                                    <div class="card border-info">
                                        <div class="card-body">
                                            <h6 class="card-title">@Html.DisplayFor(modelItem => item.IdOfPet.Name)</h6>
                                            <small class="card-text">
                                                @Html.DisplayFor(modelItem => item.NameOfService.ServiceName)
                                            </small>
                                            <p>
                                                <small class="text-center">
                                                    <input type="hidden" asp-for="@pet.Id" name="id" />
                                                    <a class="card-link" asp-controller="Pets" asp-action="Details" asp-route-id="@item.IdOfPet.Id"> Details </a>
                                                </small>
                                            </p>
                                            <div class="card-img-bottom">
                                                @if (!string.IsNullOrEmpty(item.IdOfPet.PetImage))
                                                {
                                                    <img class="card-img-top" src="~/images/@item.IdOfPet.PetImage" alt="pet image">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <p>No Upcoming Services Scheduled</p>
                    }
                </div>

                <div class="col col-sm-5 offset-2">
                    <h5>Current Pets</h5>
                    @if (Model.Any(x => x.ServicePets != null && x.ServicePets.Count > 0 && x.ServicePets.Any(y => y.CheckoutDate.Date >= DateTime.Now.Date)))
                    {
                        <div class="card-deck">
                            @foreach (var pet in Model)
                            {
                                @foreach (var item in pet.ServicePets.Where(x => x.CheckinTime != default(DateTime) && x.CheckoutTime == default(DateTime) && x.CheckoutDate.Date >= DateTime.Now.Date))
                                {
                                    <div class="card border-info">
                                        <div class="card-body">
                                            <h6 class="card-title">@Html.DisplayFor(modelItem => item.IdOfPet.Name)</h6>
                                            <small class="card-text">
                                                @Html.DisplayFor(modelItem => item.NameOfService.ServiceName)
                                            </small>
                                            <p>
                                                <small class="text-center">
                                                    <input type="hidden" asp-for="@pet.Id" name="id" />
                                                    <a class="card-link" asp-controller="Pets" asp-action="Details" asp-route-id="@item.IdOfPet.Id"> Details </a>
                                                </small>
                                            </p>
                                            <div class="card-img-bottom">
                                                @if (!string.IsNullOrEmpty(item.IdOfPet.PetImage))
                                                {
                                                    <img class="card-img-top" src="~/images/@item.IdOfPet.PetImage" alt="pet image">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <p>No Pets</p>
                    }
                </div>
                <br />
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <div>
            <h1>Welcome to Dog Desk</h1>
            <p>Please log in</p>
        </div>
    </div>
}
