@model IEnumerable<DogDesk.Models.ServicePet>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOfPet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfService)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOfPet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfService.ServiceName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
