@model DogDesk.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <h5>Pet Information</h5>
    <br />


    <div class="form-group">
        <label>Add Picture</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenderOfAnimal.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SizeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SizeOfAnimal.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfAnimal.Animal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
    </dl>
</div>

<div class="btn-group">
    <div>
        @using (Html.BeginForm("Create", "VetRecords", FormMethod.Get))
        {
            <input type="hidden" asp-for="Id" name="PetId" />
            <input class="btn btn-sm btn-primary mr-sm-2" type="submit" value="Add Vet Record" />
        }
    </div>
    <div>
        @using (Html.BeginForm("MainCalendar", "ServicePets", FormMethod.Get))
        {
            <input type="hidden" asp-for="Id" name="PetId" />
            <input class="btn btn-sm btn-secondary mr-sm-2" type="submit" value="Schedule Boarding" />
        }
    </div>
    <div>
        @using (Html.BeginForm("TimeLineCalendar", "ServicePets", FormMethod.Get))
        {
            <input type="hidden" asp-for="Id" name="PetId" />
            <input class="btn btn-sm btn-info" type="submit" value="Schedule Add-On Service" />
        }
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />

@*Services*@
<div>
    <h5>Upcoming Services</h5>
    @if (Model.ServicePets != null && Model.ServicePets.Count > 0 && Model.ServicePets.Any(x => x.CheckoutDate > DateTime.Now))
    {
        @foreach (var item in Model.ServicePets.Where(x => x.CheckoutDate > DateTime.Now).OrderBy(x => x.StartDate))
        {
            <div class="card border-info" style="width: 18rem;">
                <div class="card-header font-weight-bold text-center">
                    @Html.DisplayFor(modelItem => item.NameOfService.ServiceName)
                </div>

                <div class="card-body">
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.ServicePets.FirstOrDefault().StartDate): @Html.DisplayFor(modelItem => item.StartDate)
                    </p>
                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.ServicePets.FirstOrDefault().CheckoutDate): @Html.DisplayFor(modelItem => item.CheckoutDate)
                    </p>
                    <span>
                        <a class="card-link" asp-controller="ServicePets" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </span>
                    <span class="">
                        <a class="card-link" asp-controller="ServicePets" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                    <span class="float-right">
                        <a class="card-link" asp-controller="ServicePets" asp-action="Details" asp-route-id="@item.Id"> Details </a>
                    </span>
                </div>
            </div>

        }

    }
    else
    {
        <p>No Upcoming Services Scheduled</p>
    }
</div>
<br />

@* Vet Records *@
<div>
    <h5>Vet Records</h5>
    @if (Model.VetRecords != null && Model.VetRecords.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().VetName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().StreetAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().ZipCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().WorkPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().Allergy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().Altered)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().Rabies)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VetRecords.FirstOrDefault().Bordetella)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VetRecords)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Allergy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Altered)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rabies)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Bordetella)
                        </td>
                        <td>
                            <a asp-controller="VetRecords" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="VetRecords" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Vet Records Found</p>
    }
</div>
<br />

@* Owners *@
<div>
    <h5>Owners</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.HomePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.CellPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetOwners.FirstOrDefault().Owner.WorkPhone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PetOwners)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.HomePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.CellPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.WorkPhone)
                    </td>
                    <td>
                        <a asp-controller="Owners" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Owners" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @using (Html.BeginForm("AddOwner", "Owners", FormMethod.Get))
        {
            <input type="hidden" asp-for="Id" name="PetId" />
            <input class="btn btn-sm btn-primary" type="submit" value="Add Owner" />
        }
    </div>
</div>
<br />

@* Contacts *@
<div>
    <h5>Emergency Contacts</h5>
    @if (Model.PetContacts != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PetContacts.FirstOrDefault().EmergencyContact.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PetContacts.FirstOrDefault().EmergencyContact.HomePhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PetContacts.FirstOrDefault().EmergencyContact.CellPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PetContacts.FirstOrDefault().EmergencyContact.WorkPhone)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PetContacts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmergencyContact.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmergencyContact.HomePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmergencyContact.CellPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmergencyContact.WorkPhone)
                        </td>
                        <td>
                            <a asp-controller="EmergencyContacts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="EmergencyContacts" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Emergency Contacts Found</p>
    }
    <div>
        @using (Html.BeginForm("Create", "EmergencyContacts", FormMethod.Get))
        {
            <input type="hidden" asp-for="Id" name="PetId" />
            <input class="btn btn-sm btn-primary" type="submit" value="Add a Contact" />
        }
    </div>
</div>
